<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <!-- <welcome-file-list>
    <welcome-file>jsp\Order.jsp</welcome-file>
  </welcome-file-list> -->
  
  <display-name></display-name>
  <servlet>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryByFoodnum</servlet-name>
    <servlet-class>servlet.QueryByFoodnum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryAll</servlet-name>
    <servlet-class>servlet.QueryAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCount</servlet-name>
    <servlet-class>servlet.QueryCount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryByApartnum</servlet-name>
    <servlet-class>servlet.QueryByApartnum</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/servlet/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryByFoodnum</servlet-name>
    <url-pattern>/servlet/QueryByFoodnum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAll</servlet-name>
    <url-pattern>/servlet/QueryAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCount</servlet-name>
    <url-pattern>/servlet/QueryCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryByApartnum</servlet-name>
    <url-pattern>/servlet/QueryByApartnum</url-pattern>
  </servlet-mapping>	
  
  
  
</web-app>
